<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"> 

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "メールアドレス" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "パスワード" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %> 次回以降自動的にログインする
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "メールアドレスでログイン", :class => "btn btn-warning" %>
        <%= link_to "パスワードを忘れた方はこちら", new_user_password_path, :class => "btn btn-link" %>
      </div>
    <% end %>

    <hr>

    <%= link_to "Facebookでログイン", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %> 
    <hr>

    <%= link_to "Twitterでログイン", user_omniauth_authorize_path(:twitter), class: "btn btn-info" %>

  </div>  
</div>


